// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");
@import "partials/fonts";

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";

// Blocks
@import "blocks/header";
@import "blocks/main-screen/main-screen";
@import "blocks/main-screen/cards-content";
@import "blocks/main-screen/form-content";
@import "blocks/main-screen/tags";
@import "blocks/main-screen/articles";
@import "blocks/forum/forum";
@import "blocks/knowledge/knowledge";
@import "blocks/news/news";
@import "blocks/footer";
@import "blocks/hero-page";

// Components
@import "components/menu";
@import "components/breadcrumb";
@import "components/checkbox";
@import "components/pagination";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}

svg {
	fill: currentColor;
}
.btn-phone {
	padding: 11px 34px;
	border-radius: 25px;
	border: 2px solid #e0e22e;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	position: relative;
	align-items: center;
	transition: color .3s;

	&:hover {
		@media (min-width: $md2+px) {
			color: #e0e22e;
			svg {
				fill: #e0e22e;
			}
		}
	}

	svg {
		transition: fill .3s;
		fill: #fff;
		margin: 0px 10px 0px 0px;
	}

	@media (max-width: 870px) {
		padding: 11px 28px;
	}
}

.title {
	color: #272727;
	font-size: 22px;
	font-weight: 600;
	border-bottom: 1px solid #BCE1CB;
	position: relative;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 28px 0px;

	@media (max-width: 1400px) {
		font-size: 19px;
	}

	@media (max-width: $md3+px) {
		font-size: 19px;
	}

	@media (max-width: $md4+px) {
		font-size: 22px;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 54px;
		height: 4px;
		background-color: #29be68;
	}
}

.aside-fixed--top {

	.aside-nav__body {
		position: fixed;
		top: 0px;
		max-width: inherit;
		width: inherit;
	}
	.aside-nav__list-link {
		margin: 0px 17px 0px 0px;
	}
	.aside-nav {
		
	}
	.content-knowledge__body {
		
	}

}