// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");
@import "partials/fonts";

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";

// Blocks
@import "blocks/header/header";
@import "blocks/main-screen/main-screen";
@import "blocks/forum/forum";
@import "blocks/news/news";
@import "blocks/news-single/news-single";
@import "blocks/knowledge/knowledge";
@import "blocks/knowledge-single/knowledge-single";
@import "blocks/footer/footer";

// general blocks
@import "blocks/aside/login-aside";
@import "blocks/aside/latest-aside";
@import "blocks/aside/categories-aside";
@import "blocks/aside/related-aside";
@import "blocks/aside/socials-aside";
@import "blocks/aside/subscribe-aside";


// general blocks
@import "blocks/cards-content";
@import "blocks/nav-aside";
@import "blocks/forums";
@import "blocks/search";
@import "blocks/tags";
@import "blocks/comments";
@import "blocks/info-page";
@import "blocks/articles";
@import "blocks/hero-page";
@import "blocks/cta";
@import "blocks/author";
@import "blocks/share";
@import "blocks/write";

// Components
@import "components/menu";
@import "components/breadcrumb";
@import "components/checkbox";
@import "components/pagination";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

::placeholder {
	color: #ababab;
	font-weight: 400;
	letter-spacing: 0.16px;
}
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{display: none;}
}
svg {
	fill: currentColor;
}
.btn-phone {
	padding: 11px 34px;
	border-radius: 25px;
	border: 2px solid #e0e22e;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	position: relative;
	align-items: center;
	transition: color .3s;

	&:hover {
		@media (min-width: $md2+px) {
			color: #e0e22e;
		}
	}

	svg {
		margin: 0px 10px 0px 0px;
	}

	@media (max-width: 870px) {
		padding: 11px 28px;
	}
}

.title {
	color: #272727;
	font-size: 22px;
	font-weight: 600;
	border-bottom: 1px solid #BCE1CB;
	position: relative;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 28px 0px;

	@media (max-width: 1400px) {
		font-size: 19px;
	}

	@media (max-width: $md3+px) {
		font-size: 19px;
	}

	@media (max-width: $md4+px) {
		font-size: 18px;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 54px;
		height: 4px;
		background-color: #29be68;
	}
}

.aside-fixed--top {

	.nav-aside {
		position: fixed;
		top: 100px;
		width: 338px;

		@media (max-width: 1400px) {
			top: 60px;
		}

		@media (max-width: $md1+px) {
			width: 230px;
		}

		@media (max-width: $md2+px) {
			width: 201px;
			top: 80px;
		}

		@media (max-width: 500px) {
			width: 84%;
		}
	}

	.aside-nav__burger {
	
	}

}

.subscribe-aside,
.categories-aside,
.socials-aside,
.related-aside {
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
	padding: 47px 34px 40px 34px;

	@media (max-width: 1400px) {
		padding: 35px 25px 25px 25px;
	}

	@media (max-width: $md2+px) {
		
	}

	@media (max-width: 750px) {
		padding: 40px 20px 33px 20px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 15px 30px 15px;
	}
	// .socials-aside__title

	&__title {
		margin: 0px 0px 30px 0px;
	}
}



.socials {

	// .socials__list

	&__list {
		display: flex;
	}

	// .socials__item

	&__item {
		margin: 0px 19px 0px 0px;

		&:last-child {
			margin: 0;
		}
	}

	// .socials__link

	&__link {

	}
}

.info-single {
	display: flex;
	max-width: 700px;
	padding: 36px 45px;
	margin: 0 auto 60px;
	border-radius: 6px;
	border: 1px solid #29be68;
	color: #272727;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;

	@media (max-width: 1400px) {
		margin: 0 auto 30px;
		padding: 25px 35px;
		line-height: 26px;
	}

	@media (max-width: $md3+px) {
		margin: 0 auto 20px;
	}

	@media (max-width: $md4+px) {
		padding: 15px;
		line-height: 24px;
	}

	img {
		margin: 7px 25px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 7px 15px 0px 0px;
		}
	}
}