// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");
@import "partials/fonts";

// Mixins
@import "mixins/adaptive-font";

// Partials
@import "partials/libs";
@import "partials/vars";

// Blocks
@import "blocks/header";
@import "blocks/main-screen/main-screen";
@import "blocks/main-screen/cards-content";
@import "blocks/main-screen/form-content";
@import "blocks/main-screen/tags";
@import "blocks/footer";

// Components
@import "components/menu";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{
		display: none;
	}
}

.btn-phone {
	padding: 11px 34px;
	border-radius: 25px;
	border: 2px solid #e0e22e;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	position: relative;
	align-items: center;

	&:hover {
		svg {
			fill: #e0e22e;
		}
	}

	svg {
		transition: fill .3s;
		fill: #fff;
		margin: 0px 10px 0px 0px;
	}

	@media (max-width: 870px) {
		padding: 11px 28px;
	}
}