.knowledge {
	// .knowledge__inner

	&__inner {
		display: flex;
	}

	// .knowledge__aside

	&__aside {
		flex: 0 0 338px;

		@media (max-width: $md1+px) {
			flex: 0 0 230px;
		}

		@media (max-width: $md2+px) {
			flex: 0 0 201px;
		}

		@media (max-width: $md3+px) {
			position: absolute;
			z-index: 2;
		}

		@media (max-width: 500px) {
			width: 84%;
		}
	}

	// .knowledge__body

	&__body {
		flex: 1 1 auto;
		padding: 56px 0px 60px 62px;
		transition: all .3s;

		@media (max-width: $md4+px) {
			padding: 56px 0 60px 50px;
		}

		&.active {
			transform: translateX(200px);

			@media (max-width: 500px) {
				transform: translateX(430px);
			}
		}
	}
}



.nav-aside {
	padding: 56px 0px 0px 0px;
	border-right: 1px solid #ededed;
	height: 100%;

	@media (max-width: $md3+px) {
		position: relative;
		top: 0px;
		transform: translateX(-107%);
		transition: all .3s;

		@media (max-width: 500px) {
			transform: translateX(-103.4%);
		}

		&.active {
			transform: translateX(0%);
		}
	}


	&__body {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 10;
	
		@media (max-width: $md3+px) {
			position: absolute;
			top: 0px;
			transform: translateX(-107%);
			transition: all .3s;
	
			&.active {
				transform: translateX(0%);
			}
		}
	}

	// .aside-nav__burger

	&__burger {

		@media (max-width: $md3+px) {
			right: -47px;
    		top: 15px;

			&::after,
			&::before,
			span {
				background-color: #2ecc71;
			}
			&.active::before{
				transform: rotate(850deg);
				top: 9px;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::after{
				transform: rotate(765deg);
				bottom: 9px;
			}
		}
	}

	// .aside-nav__list

	&__list {
	}

	// .aside-nav__list-item

	&__list-item {
	}

	// .aside-nav__list-link

	&__list-link {
		display: block;
		font-weight: 400;
		font-size: 16px;
		color: #7e7e7e;
		padding: 17px 24px;
		border-bottom: 1px solid #fff;
		transition: color .3s;

		@media (max-width: $md4+px) {
			padding: 15px 15px;
		}

		&:hover {
			@media (min-width: $md2+px) {
				color: #29be68;
			}
		}

		&--active {
			color: #29be68;
			background-color: #f9f9f9;
			border-color: #29be68;
		}
	}
}
