.knowledge {
	// .knowledge__inner

	&__inner {
		display: flex;
	}

	// .knowledge__aside

	&__aside {
		flex: 0 0 338px;

		@media (max-width: $md1+px) {
			flex: 0 0 230px;
		}

		@media (max-width: $md2+px) {
			flex: 0 0 201px;
		}

		@media (max-width: $md3+px) {
			position: absolute;
			z-index: 2;
		}

		@media (max-width: 500px) {
			max-width: 82%;
    		width: 100%;
		}

		@media (max-width: 380px) {
			max-width: 76%;
		}
	}

	// .knowledge__body

	&__body {
		flex: 1 1 auto;
		padding: 56px 0px 60px 62px;
		transition: all .3s;

		@media (max-width: $md4+px) {
			padding: 56px 0 60px 50px;
		}

		&.active {
			transform: translateX(200px);

			@media (max-width: 500px) {
				transform: translateX(430px);
			}
		}
	}

	// .knowledge__cta

	&__cta {
		position: relative;
		z-index: 2;
	}
}