.breadcrumb {
	background-color: #f9f9f9;

	// .breadcrumb__body

	&__body {
		overflow: auto;
		height: 40px;
		display: flex;
	}

	// .breadcrumb__list

	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;

		li {
			margin: 0px 5px 0px 0px;
			font-size: 14px;
			font-weight: 400;
			
			&:last-child {
				margin: 0;
				padding: 0;
			}
		}
	}

	// .breadcrumb__link

	&__link {
		color: #2ecc71;
		transition: color .3s;

		&:hover {
			@media (min-width: $md2+px) {
				color: #e0e22e;
			}
		}
	}

	// .breadcrumb__item

	&__item {
		color: #272727;
		position: relative;
		padding: 0px 0px 0px 10px;

		&::after {
			content: "/";
			position: absolute;
			left: 0;
		}
	}
}
