.checkbox {

	&__label {
		display: block;
		position: relative;
		padding-left: 26px;
		cursor: pointer;
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 400;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover .checkbox__input ~ .checkbox__checkmark {
			background-color: #ccc;
		}

		.checkbox__input:checked ~ .checkbox__checkmark {
			background-color: #29be68;
		}

		.checkbox__input:checked ~ .checkbox__checkmark:after {
			display: block;
		}

		.checkbox__checkmark:after {
			left: 4.5px;
			top: 1.5px;
			width: 5px;
			height: 9px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		border: 1px solid #d6d6d6;
		transition: background-color .3s;

		// for radio
		/* border-radius: 50%; */

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}
