.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	// .pagination__arrow

	&__arrow {
	}

	// .pagination__list

	&__list {
		display: flex;

		li {

		}
	}

	// .pagination__link

	&__link {

		&--active {
		}
	}

}
