@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
		 url('../fonts/Metropolis-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
