.forum {
	padding: 60px 0px;

	@media (max-width: $md2+px) {
		padding: 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 40px 0px;
	}

	// .forum__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		
		@media (max-width: $md2+px) {
			flex-flow: row wrap;
		}
	}

	// .forum__body

	&__body {
		flex: 1 1 auto;
		padding: 0px 30px 0px 0px;

		@media (max-width: $md2+px) {
			width: 100%;
			order: 2;
			padding: 0px 0px 0px 0px;
		}
	}

	&__forums {

		.forums__topic {
			@media (max-width: $md4+px) {
				margin: 0px 0px 15px 0px;
			}
		}

		.forums__views {
			@media (max-width: $md4+px) {
				margin: 0px 15px 0px 0px;
			}
		}
		
		.forums__views,
		.forums__replies  {
			@media (max-width: $md4+px) {
				flex-direction: row;

				&:last-child {
					margin: 0;
				}

				span {
					padding: 0px 0px 0px 10px;
				}
			}
		}
	}

	&__forums-single {
		margin: 0px 0px 40px 0px;

		.forums__header {
			justify-content: space-between;

			@media (max-width: 700px) {
				flex-direction: column;
			}
		}

		.forums__category {
			@media (max-width: $md4+px) {
				flex: 0 1 100%;
				margin: 10px 0px 0px 0px;
			}
		}

		.forums__topic {
			@media (max-width: 700px) {
				margin: 0px 0px 15px 0px;
			}
		}

		.forums__views {
			@media (max-width: 700px) {
				margin: 0px 15px 0px 0px;
			}
		}

		.forums__views,
		.forums__replies  {
			@media (max-width: 700px) {
				flex-direction: row;

				&:last-child {
					margin: 0;
				}

				span {
					padding: 0px 0px 0px 10px;
				}
			}
		}
		.forums__column {
			@media (max-width: 700px) {
				
			}
		}

		.comments__body {
			margin: 13px 0 0 0;
	  }


	}

	&__comments-single {
		margin: 0px 0px 60px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 50px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	// .forum__aside

	&__aside {
		flex: 0 0 370px;

		@media (max-width: 1400px) {
			flex: 0 0 300px;
		}

		@media (max-width: $md2+px) {
			display: flex;
			justify-content: space-between;
			order: 1;
			flex: 0 1 100%;
		}

		@media (max-width: 650px) {
			flex-direction: column;
		}
	}

	// .aside-forum__aside-login

	&__aside-login {
		margin: 0px 0px 60px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 50px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 48.1%;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .aside-forum__aside-latest

	&__aside-latest{

		@media (max-width: $md2+px) {
			flex: 0 1 48.1%;
			margin: 0px 0px 50px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}
}





