.login-aside {

	// .login__form

	&__form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	// .login__form-input

	&__form-input {
		width: 100%;
		margin: 0px 0px 20px 0px;
		padding: 16px 28px;
		border-radius: 3px;
		border: 1px solid #d6d6d6;
		color: #7e7e7e;
		font-size: 16px;
		font-weight: 400;
		transition: border-color .3s;

		@media (max-width: 1400px) {
			padding: 13px 23px;
			font-size: 14px;
		}

		&::placeholder {
			color: #7e7e7e;
			font-size: 16px;
			font-weight: 400;
		}

		&:focus {
			border-color: #29be68;
		}
	}

	// .login__form-checkbox

	&__form-checkbox {
		flex: 0 1 50%;
		margin: 0px 10px 40px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 750px) {
			flex: 0 1 100%;
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: 650px) {
			flex: 0 1 50%;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 380px) {
			flex: 0 1 100%;
			margin: 0px 0px 15px 0px;
		}

		.checkbox__label {

			@media (max-width: 1400px) {
				font-size: 13px;
			}
		}
	}

	// .login__form-link

	&__form-link {
		display: inline-block;
		color: #29be68;
		font-size: 14px;
		font-weight: 400;
		margin: 0px 0px 40px 0px;
		transition: color .3s;

		@media (max-width: 1400px) {
			font-size: 13px;
		}

		@media (max-width: 750px) {
			margin: 0 0 25px 0;
		}

		&:hover {
			@media (min-width: $md2+px) {
				color: #e0e22e;
			}
		}
	}

	// .login__form-btn

	&__form-btn {
		flex: 0 1 100%;
		border-radius: 3px;
		background-color: #29be68;
		color: #ffffff;
		font-size: 18px;
		font-weight: 600;
		padding: 16px 15px;
		transition: color .3s;

		@media (max-width: 1400px) {
			font-size: 16px;
			padding: 13px 25px;
		}

		&:hover {
			@media (min-width: $md2+px) {
				color: #e0e22e;
			}
		}
	}
}
