.footer {
	position: relative;
	padding: 29px 0px;
	background-color: #29be68;
	border-top: 1px solid #63d593;

	@media (max-width: $md4+px) {
		padding: 20px 0;
	}
	// .footer__row

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px -10px;

		@media (max-width: 600px) {
			flex-direction: column;
			margin: -10px 0px;
		}
	}

	// .footer__column

	&__column {
		display: flex;
		align-items: center;
		padding: 0px 10px;

		@media (max-width: 600px) {
			padding: 10px 0px;
		}
	}

	// .footer__logo

	&__logo {
		margin: 0px 27px 0px 0px;

		@media (max-width: $md3+px) {
			margin: 0 15px 0 0;
		}
	}

	// .footer__text

	&__text {
		color: #d5f5e3;
		font-size: 14px;
		font-weight: 300;

		@media (max-width: 550px) {
			font-size: 11px;
		}
	}

	// .footer__socials-links

	&__socials-links {

		.socials-links__link {
			color: #d5f5e3;
			transition: color .3s;
	
			&:hover {
				@media (min-width: $md2+px) {
					color: #e0e22e;
				}
			}
		}
	}

}