.cards-content {

	// .cards-content__row

	&__row {
		display: flex;

		@media (max-width: $md2+px) {
			justify-content: center;
			flex-flow: row wrap;
		}
	}

	// .cards-content__column

	&__column {
		flex-basis: 33.333%;
		flex-shrink: 1;
		margin: 0px 30 / $maxWidthContainer * 100vw 0px 0px;
		
		&:last-child {
			margin: 0;
		}

		@media (max-width: $md2+px) {
			flex-basis: 49%;

			&:first-child {
				margin: 0px 20 / $maxWidthContainer * 100vw 20px 0px;
			}

			&:nth-child(2){
				margin: 0 0 20px 0;
			}

		}

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			width: 100%;

			&:first-child {
				margin: 0 0 20px 0;
			}
		}
	}

	// .cards-content__item

	&__item {
		box-shadow: 6px 8px 22px 7px rgba(122, 122, 122, 0.06);
		border-radius: 6px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 31px 50px 32px 30px;
		text-align: left;

		@media (max-width: $md1+px) {
			padding: 25px;
		}
	}

	// .cards-content__img

	&__img {
		margin: 0px 34px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 25px 0px 0px;
		}
	}

	// .cards-content__body

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		width: 100%;
	}

	// .cards-content__body-title

	&__body-title {
		color: #272727;
		font-size: 22px;
		font-weight: 600;
		margin: 0px 0px 11px 0px;

		@media (max-width: $md1+px) {
			font-size: 20px;
		}

		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	// .cards-content__body-descr

	&__body-descr {
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
	}
}