.feedback-single {
	padding: 40px 0px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	text-align: center;

	@media (max-width: $md3+px) {
		padding: 30px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 20px 0px;
	}
	// .feedback-single__title

	&__title {
		color: #272727;
		font-size: 18px;
		font-weight: 600;
		margin: 0px 0px 25px 0px;

		@media (max-width: $md3+px) {
			margin: 0 0 20px 0;
		}
	}

	// .feedback-single__answer

	&__answer {
		display: flex;
		justify-content: center;
	}

	// .feedback-single__answer-yes

	&__answer-yes {
		margin: 0px 40px 0px 0px;
		display: flex;
		flex-direction: column;
		color: #7e7e7e;
		transition: color .3s;

		@media (max-width: $md3+px) {
			margin: 0px 30px 0px 0px;
		}

		&:hover {
			@media (min-width: $md2+px) {
				color: #29be68;
			}
		}

		span {
			color: #29be68;
			font-size: 18px;
			font-weight: 400;
			padding: 20px 0px 0px 0px;

			@media (max-width: $md3+px) {
				padding: 15px 0px 0px 0px;
			}

			@media (max-width: $md4+px) {
				padding: 10px 0px 0px 0px;
			}
		}
	}

	// .feedback-single__answer-no

	&__answer-no {
		display: flex;
		flex-direction: column;
		color: #7e7e7e;
		transition: color .3s;

		&:hover {
			@media (min-width: $md2+px) {
				color: #29be68;
			}
		}

		span {
			color: #29be68;
			font-size: 18px;
			font-weight: 400;
			padding: 20px 0px 0px 0px;

			@media (max-width: $md3+px) {
				padding: 15px 0px 0px 0px;
			}

			@media (max-width: $md4+px) {
				padding: 10px 0px 0px 0px;
			}
		}
	}
}