.hero-page {
	background-color: #2ecc71;
	padding: 110px 0px;
	margin: 100px 0px 0px 0px;

	@media (max-width: 1400px) {
		margin: 80px 0px 0px 0px;
		padding: 80px 0px;
	}

	@media (max-width: $md2+px) {
		padding: 70px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 60px 0;
		margin: 60px 0px 0px 0px;
	}

	@media (max-width: 380px) {
		padding: 40px 0;
	}
	// .hero-page__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	// .hero-page__title

	&__title {
		display: block;
		color: #ffffff;
		font-size: 40px;
		font-weight: 600;
		white-space: nowrap;
		margin: 0px 30px 0px 0px;

		@media (max-width: 1400px) {
			font-size: 38px;
		}

		@media (max-width: $md2+px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 380px) {
			font-size: 35px;
		}
	}

	// .hero-page__search

	&__search {
		max-width: 670px;
		width: 100%;

		.search__form {
			display: flex;

			@media (max-width: $md4+px) {
				flex-direction: column;
			}
		}
	}
}